<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body style="background: #b5c7db">

<!--Navbar start -->
<nav class="navbar navbar-light" style="background-color: black">
    <span class="navbar-brand h1 " style="color: aliceblue; font-size: xx-large;font-family: poppins;">Service Management System</span>
    <div align="right">
        <!--Button start -->
        <a href="/empList" class="btn btn-secondary" role="button" aria-pressed="true">Go back</a>
        <a href="/logout" class="btn btn-secondary" role="button" aria-pressed="true">Logout</a>
        <!--Button end -->
    </div>
</nav>
<!--Navbar end-->

<br><br><br>
<div class="container">
                    <h1><%= title %></h1>
                    <div class="container">
                        <form action="/update" method="post">
                            <input type="hidden" value="<%= employee.employee_id %>" name="employee_id">
                            <div class="form-group">

                                <label for="employeeName">Employee Name:</label>
                                <input pattern="[a-zA-Z -]+" minlength="4" type="text" class="form-control" id="employeeName" placeholder="Employee Name"
                                       value="<%= employee.employeeName %>" name="employeeName" required>
                            </div>
                            <div class="form-group">
                                <label for="userId">User Id:</label>
                                <input type="userId" class="form-control" id="userId" placeholder="userId"
                                       value="<%= employee.userId %>" name="userId" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" placeholder="Email"
                                       value="<%= employee.email %>" name="email" required>
                            </div>

                            <div class="form-group">
                                <label for="department">Department:</label>
                                <input type="department_id" class="form-control" id="department_id" placeholder="Department"
                                       value="<%= employee.department_id %>" name="department_id" required>
                            </div>


                            <button type="submit" class="btn btn-secondary"style=" background:rgba(34, 41, 49, 0.51)">Update</button>
                        </form>
                    </div>
                </div>



</body>
</html>